* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-size: 900;
    text-align: center;
    color: dimgray;
    text-shadow: 3px 3px 3px cadetblue;
}

.card {
    width: 400px;
    margin: 30px;
    background-color: rgb(172, 172, 161);
    padding: 3px;
    text-align: center;
    margin: 50px auto;
    box-shadow: 3px 5px 4px #777;
    transition-property: all;
    transition-duration: .9s;
    transition-timing-function: ease-in-out;
}

.card:hover {

    box-shadow: 7px 9px 11px #aaa;
}

.card img {
    width: 100%;
}